.links {
  list-style: none;
  margin: 0 0 2rem 0;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
}

.links li {
  list-style: none;
  margin: 1rem;
  padding: 0;
}

.link {
  color: #D57A32;
  font-weight: 600;
}
