:root {
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #FFF4E9;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 115%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
