.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 70rem;
  min-height: 100vh;
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0;
    margin: 0 1.0rem;
  }
}